.searchbar {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #fdd791;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.form {
  display: flex;
  width: 100%;
  max-width: 600px;
  gap: 20px;
}


.input {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ffa500;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #ff7f50;
  box-shadow: 0 0 8px rgba(255,127,80,0.5);
}


.button {
  padding: 0 20px;
  background-color: #ff7f50;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #ff6347;
  transform: scale(1.10);
}

.button-label {
  pointer-events: none;
}
